* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: underline;
    color: black;
}

ul {
    position: sticky;
    top: 0;
}

header {
    background-color:  	#fdf6e8;
}

nav{
    display: flex;
    padding: 10px;
}

.nav-btn {
    padding: 10px;
    border-radius: 6px;
    background-color: #FF4500;
    border-color: #FF4500;
    color: white;
    font-weight: bold;
    font-size: 12px;
}

.select-btn {
    display: flex;
    padding: 5px;
}

.logo {
    width: 100px;
    height: 50px;
}

.search-icon {
    opacity: 0.5;
}